<div class="hero-container">
  <div class="hero-content">
    <h1>Secure Access, Simplified</h1>
    <p>Log in seamlessly with Auth0. Protect your data while enjoying a fast, secure experience.</p>
    <p-button label="Sign In with Auth0" icon="pi pi-sign-in" class="p-button-raised p-button-primary" (onClick)="login()"></p-button>
  </div>
  
  <div class="footer">
    <i class="pi pi-github" style="font-size: 2.5rem"></i>
    <p>Created by <a href="https://github.com/Bhagyadilhara" target="_blank" class="github-link">Bhagya</a></p>
  </div>
</div>